body {
    background-color: lightgrey;
}
article > header {
    padding-left: 500px;
}
article > h3 {
    padding-left: 500px;
}
p.hotTake {
    padding-left: 550px;
    text-align: left;
}
article > p {
    text-align: left
}

/* mobile */
@media only screen and (max-width: 415px) {
    article {
        padding-left: 10px;
        padding-right: 10px;
    }
    article > header {
        padding-left: 0px;
    }
    article > h3 {
        padding-left: 0px;
    }

    p.hotTake {
        padding-left: 0px;
    }
}