
/* mobile */
@media only screen and (max-width: 415px) {
    article {
        padding-left: 10px;
        padding-right: 10px;
    }
    body > h1 {
        font-size: 40px;
        text-decoration: underline;
    }
    article > header {
        padding-left: 0px;
    }
    article > h3 {
        padding-left: 0px;
    }

    p.hotTake {
        padding-left: 0px;
    }
    #breaker {
        text-align: center;
    }
}

body {
    background-color: #E6D8B9;
}

/* COLORS #44A0GF #8CC7AB #FBFBFB #E6D8B9 #3D4750 #171A1F */

h1 {
    font-size: 100px;
    text-decoration: underline;
}
h2 {
    text-decoration: underline;
}
article > header {
    font-size: 25px;
    padding-left: 20px;
}

header > p {
    font-size: 15px;
}
article > h3 {
    font-size: 22px;
    padding-left: 50px;
}
#takeNote{
    padding-left: 50px;
}
article > p {
    text-align: left;
    padding-left: 20px;
}
#bottomDate {
    text-align: right;
    padding-right: 25px;
}

article {
    background-color: #8CC7AB;
    border: darkgreen solid 5px;
}