
/* mobile */
@media only screen and (max-width: 415px) {
    article {
        padding-left: 10px;
        padding-right: 10px;
    }
    body > h1 {
        font-size: 40px;
        text-decoration: underline;
    }
    article > header {
        padding-left: 0px;
    }
    article > h3 {
        padding-left: 0px;
    }

    p.hotTake {
        padding-left: 0px;
    }
    #breaker {
        text-align: center;
    }
}

body {
    background-color: lightgrey;
}

h1 {
    font-size: 100px;
    text-decoration: underline;
}
h2 {
    text-decoration: underline;
}
article > header {
    font-size: 25px;
    padding-left: 20px;
}

header > p {
    font-size: 15px;
}
article > h3 {
    font-size: 22px;
    padding-left: 20px;
}
p.hotTake {
    padding-left: 20px;
    text-align: left;
}
article > p {
    text-align: left;
    padding-left: 20px;
}
